body{
    margin:0;
    padding:0;
    background-color: black;
    font-size: 30px;
    color:white;
}

#container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#clockContainer, #dateContainer, #weekdayContainer{
    display: flex;
    justify-content: center;
}

#clockContainer{
    font-size: 25px;
    margin-bottom: 20px;
}

#dateContainer{
    font-size: 25px;
    margin-bottom: 10px;
}

#weekdayContainer{
    font-size: 20px;
    margin-bottom: 30px;
}


button{
    font-size: 1.1em;
    border-radius: 20px;
    padding: 0px;
    height: 40px;
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

#buttonsContainer {
    margin-top: 20px;
    text-align: center;
}

#buttonsContainer button {
    width: auto;
    padding: 10px;
    font-size: 12px;
    background: darkslategray;
    color: white;
    border: none;
}

#buttonsContainer button:hover {
    background: blue;
}

#github {
    margin-top: 30px;
    font-size: 14px;
    color: white;
    gap: 20px;
}

#github a {
    font-size: 20px;
    color: blue;
}